* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

body {
    height: 100vh;
    background-color: black;
    display: grid;
    place-items: center;
}

button {
    padding: 10px 20px;
}

.container {
    height: 300px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    background-color: white;
    border-radius: 10px;
}

#numero {
    color: red;
}